<ion-content [fullscreen]="true" class="ion-padding">
  <form #afiliadoForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked"
        >Legajo<ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        [(ngModel)]="operario.legajo"
        name="legajo"
        type="text"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        >Nombre <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        [(ngModel)]="operario.nombre"
        name="nombre"
        type="text"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        >Puesto <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        [(ngModel)]="operario.puesto"
        name="direccion"
        type="text"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"
        >Linea <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        [(ngModel)]="operario.linea"
        name="telefono"
        type="tel"
      ></ion-input>
    </ion-item>

    <ion-button
      block
      color="primary"
      type="submit"
      [disabled]="!afiliadoForm.form.valid"
    >
      Registrar Afiliado
    </ion-button>
    <ion-button *ngIf="operario.id" color="danger" (click)="borrar()">
      Borrar
    </ion-button>
  </form>
</ion-content>
