<app-cabecera></app-cabecera>
<ion-content [fullscreen]="true" class="ion-padding">
  <form #operarioForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked"
        >Legajo<ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        placeholder="Ingrese legajo"
        [(ngModel)]="operario.legajo"
        name="legajo"
        #legajo="ngModel"
        type="number"
        pattern="[0-9]*"
        (input)="validateNumber($event)"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"
        >Nombre <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-input
        required
        placeholder="Ingrese nombre del operario"
        [(ngModel)]="operario.nombre"
        name="nombre"
        #nombre="ngModel"
        type="text"
        (ngModelChange)="validateLetters($event, nombre)"
      ></ion-input>
      <!-- Mensaje de error si el valor ingresado contiene algo que no sea letras -->
      <div *ngIf="nombre.invalid && nombre.touched">
        <ion-text color="danger" *ngIf="hasNonLetterChars">
          Solo se permiten letras.
        </ion-text>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked"
        >Puesto <ion-text color="danger">*</ion-text></ion-label
      >
      <ion-select
        multiple="true"
        placeholder="seleccione puesto"
        [(ngModel)]="operario.puesto"
        name="puesto"
      >
        <ion-select-option *ngFor="let i of puestos" [value]="i"
          >{{i}}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-button
      block
      color="primary"
      type="submit"
      [disabled]="!operarioForm.form.valid"
    >
      Registrar Operario
    </ion-button>
    <ion-button *ngIf="operario.id" color="danger" (click)="borrar()">
      Borrar
    </ion-button>
    <ion-button color="medium" (click)="resetForm(operarioForm)">
      Resetear
    </ion-button>
  </form>
</ion-content>
<div>
  <span>el puesto elegido{{operario.puesto}}</span>
</div>
