.responsive-img {
    display: block;      /* Hace que el elemento ion-img se comporte como un bloque */
    margin: 0 auto;      /* Centra horizontalmente la imagen */
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* Mantendrá la proporción de la imagen */
    
  }

  @media (min-width: 768px) {
    /* Para pantallas más grandes como tablets y PCs */
    .responsive-img {
      width: 42%; /* En pantallas grandes, la imagen será del 50% del ancho */
    }
  }