<ion-content [fullscreen]="true">

  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

  <ion-card *ngFor="let l of results">
    <ion-card-content>
      FECHA: {{l.fecha}} <br />
      NOMBRE: {{l.nombre}} <br />
      DIRECCION: {{l.direccion}} <br />
      TELEFONO: {{l.telefono}} <br />
      
    </ion-card-content>
    <ion-button expand="full" [routerLink]="['/tabs/editar', l.id]">editar</ion-button>
  </ion-card>
</ion-content>









<!-- <ion-card *ngFor="let l of lista"> -->